<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="app">
    <div class="headline">
      Travel App
    </div>

    <main>
        <div class="userInput">
          <div id="destination">
            <label for="city">Where are you travelling to?</label>
            <input type="text" placeholder="Enter City Here" id="city">
          </div>

          <div id="travelDate">
            <label for="travelDate">Departure date</label>
            <input type="date" class="myInput">
          </div>

          <div id="returnDate">
            <label for="returnDate">Return date</label>
            <input type="date" class="myInput">
          </div>

          <div id="generate">
            <button type="submit">Submit</button>
          </div>
        </div>
    </main>
    
    <section id="output">
      <div id="entryHolder">
        <div id="departure"></div>
        <div id="return"></div>
        <div id="forecast"></div>
        <div id="content"></div>
        <img id="image">
      </div>
    </section>

    <footer id="footer">
      <div id="social">
        <a target=_blank href="https://www.linkedin.com/in/hassan-ashraf12">
          <img id="li" src="../media/li.png" /></a>
        <a target=_blank href="https://www.github.com/H4ssan">
          <img id="gh" src="../media/git.png" /></a>
      </div>
    </footer>
  </div>

</body>

</html>