<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="headline">
      Travel App
    </div>

    <main id="main">
      <div id="input">
        <div class="userInput">
          <label for="city">Where are you travelling to?</label>
          <input type="text" id="city" placeholder="Enter City Here">

          <div id="travelDate">
            <label for="travelDate">Departure date</label>
            <input type="date" class="myInput" size="4">
          </div>

          <div id="returnDate">
            <label for="returnDate">Return date</label>
            <input type="date" class="myInput" size="4">
          </div>

          <div id="generate">
            <button type="submit">Submit</button>
          </div>
        </div>
      </div>
      
      <div id="output">
        <div id="entryHolder">
          <div id="departure"></div>
          <div id="return"></div>
          <div id="forecast"></div>
          <div id="content"></div>
          <img id="image">
        </div>
      </div>
    </main>

    <footer id="footer">
      <div>linkedin</div>
    </footer>
  </div>

</body>

</html>