<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <main>
    <div id="app">
      <div class="headline">
        Travel App
      </div>

      <div class="userInput">
        <div id="title">
          <h2>Plan your Trip!</h2>
        </div>

        <div id="destination">
          <label for="city">Where are you travelling to?</label>
          <input type="text" placeholder="Enter City Here" id="city">
        </div>

        <div id="travelDate">
          <label for="travelDate">Departure date</label>
          <input type="date" class="myInput">
        </div>

        <div id="returnDate">
          <label for="returnDate">Return date</label>
          <input type="date" class="myInput">
        </div>

        <div id="generate">
          <button type="submit">Submit</button>
        </div>
      </div>
  </main>

  <section id="output">
    <div id="entryHolder">
      <div id="departure" class="tripDetails"></div>
      <div id="return" class="tripDetails"></div>
      <div id="forecast" class="tripDetails"></div>
      <div id="content" class="tripDetails"></div>
      <img id="image">
    </div>
  </section>

  <footer id="footer">
    Travel App 2020
  </footer>
  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>