/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size:20px;
}

button{
    width: 125px;
    height: 40px;
    background: #3b4a6b;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 0 auto;
    margin-top: 10%;
    cursor: pointer;
}

button:hover{
    background-color: lightgrey;
}

h1{
    font-size: 36px;
}

textarea{
    background: whitesmoke;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.userInput{
    background: rgba(59, 74, 107, .4);
    height: fit-content;
    width: 200px;
    margin:0 auto;
    margin-top: 20%;
    text-align: center;
}

#returnDate{
    display: block;
}

input{
    height: 40px;
    width: 175px;
    background: whitesmoke;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
  

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 

@media (min-width:550px) and (max-width: 1000px){
    .userInput{
        margin: 0 auto;
        margin-top: 15%;
        width: 450px;
    }

    button{
        width: 300px;
    }
}


@media (min-width: 1000px){
    .userInput{
        width: 500px;  
        }

    #returnDate{
        display: inline-block;
        margin-left: 10%;
        margin-top: 5%;
    }
    
    #travelDate{
        display: inline-block;
    }

    #destination{
        display: block;
    }

    button{
        margin: auto;
        margin-top: 5%;
        width: 300px;
    }

    input{
        height: 60px;
        width: 200px;
    }
}  