#output{
    display: none;
    background-color: seashell;
    grid-area: res;
    height: auto;
}

#entryHolder{
  border: 1px solid gainsboro;
  box-shadow: 2px 4px 5px #444;
  height: fit-content;
  width: fit-content;
  font-size: x-large;
  margin: auto;
}

#image{
  width: 100%;
  height: auto;
}